# Environment variables for the script

# Domain name for the Jitsi Meet instance
DOMAIN_NAME=t6.velaconference.business

# Email address for administrative purposes
ADMIN_EMAIL=admin@t6.velaconference.business

# RSA key size for Let's Encrypt certificate (default: 4096)
RSA_KEY_SIZE=4096

# HTTP port for NGINX
NGINX_HTTP_PORT=80

# HTTPS port for NGINX
NGINX_HTTPS_PORT=443

# Network name for Docker containers
NETWORK_NAME=docker-suhail-meet_meet.suhail
